@import "./Default.scss";

.outter {
  display: flex;
  height: 100vh;
  //  border: 1px solid blue;

  aside {
    width: 10%;
    background-color: $color-blue;
    display: flex;
    flex-direction: column;

    .logo {
      //  position: fixed;
      // top: 0;
      width: 80px;
      height: 60px;
      margin: 20px auto;
      // color: white;
      // text-align: center;
    }

    .slider {
      user-select: none;
      height: 80%;
      width: 50px;
      margin: 10px auto;

      .yearText {
        text-align: center;
        letter-spacing: 2px;
        font-size: 16px;
        font-weight: 400;
        color: white;
        list-style-type: none;
        padding: 0;
        margin: 15px 0;
        opacity: 0.5;
      }

      // display: flex;
    }
  }

  main {
    width: 100%;
    .navbar {
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
      height: 100px;
      background-color: white;
    }
    .container {
      border: 1px solid blue;
      width: 100%;
      height: 100%;
      justify-content: space-between;
      overflow: hidden;

      .subContainer {
        border: 1px solid green;
        padding: 0 40px;
        // padding: 20px 10px;
        overflow: hidden;
        width: 100%;
        // height: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        top: 100px;
      }
    }
  }
}
