@import "./Default.scss";

.outter {
  display: flex;

  aside {
    width: 15%;
    background-color: $color-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      margin: 20px;
      color: white;
      text-align: center;
    }

    .timeLine {
      height: 100%;
      width: 2px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  main {
    height: 100vh;
    width: 85%;

    .container {
      width: 100%;
      height: 90%;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
    }
  }
}
