@import "./Default.scss";

@mixin bookmark {
  width: 25px;
  position: absolute;
  z-index: 5;
  right: 5px;
  top: -7px;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

.crewDiv {
  @include blackMask;
  .crewBox {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: white;
    margin: auto;
    flex-direction: column;
    @include centerPosition;
    .closeBtn {
      @include closeBtnStyle;
    }
    .container {
      //  padding: 20px;
      width: 100%;
      height: 100%;
      color: gray;
      overflow: hidden;
      display: flex;
      position: relative;
      .profile {
        background-color: $color-lightgray;
        padding: 30px;
        width: 30%;
        display: flex;
        flex-direction: column;
        .name {
          font-size: 20px;
          font-weight: 600;
          color: $color-blue;
        }
        a {
          text-decoration: none;
          color: $color-gray;
          text-align: center;
          padding: 3px 5px;
          margin: 5px;
          border: 1px solid $color-gray;
          cursor: pointer;
        }

        .likeBtn {
          color: $color-gray;
          text-align: center;
          padding: 3px 5px;
          margin: 5px;
          border: 1px solid $color-gray;
          cursor: pointer;
        }
        .biography {
          margin-top: 10px;
          width: 200px;
          overflow: scroll;
          p {
            font-size: $font-p;
          }
        }
      }
      .movieBox {
        margin: 30px;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        overflow: scroll;
        text-align: center;
        cursor: pointer;

        .outter {
          .title {
            text-align: start;
          }
          .inner {
            display: flex;
            flex-flow: row wrap;
            .movieCard {
              // border: 1px solid blue;
              margin: 20px 10px;
              width: 120px;
              position: relative;
              //  overflow: hidden;
              font-size: 0.8rem;

              .addBtn {
                @include bookmark;
                // @include shadow;
                fill: $color-gold;
              }
              .cancelBtn {
                @include bookmark;
                fill: rgba(0, 0, 0, 0.3);
                stroke: 1px white;
                opacity: 1;
                transition: 0.3s ease;
              }
              .cancelBtn:active {
                fill: rgba(0, 0, 0, 0.7);
              }
              .poster {
                width: 120px;
                height: 180px;
                overflow: hidden;
                @include shadow;
                img {
                  width: 100%;
                }
                .noPic {
                  // border: 1px solid red;
                  width: 100%;
                  height: 100%;
                  background-color: rgb(226, 226, 226);
                }
              }
            }
          }
        }
      }

      .infoBox {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 6;
        height: 100%;
        width: 30%;
        padding: 30px;
        background-color: $color-blue;
        transition: 0.5s ease;
        color: white;

        .arrow {
          cursor: pointer;
          margin-bottom: 10px;
          svg {
            width: 20px;
            height: 20px;
            fill: white;
          }
        }
        a {
          text-decoration: none;
          color: #ffffff;
          text-align: center;
          padding: 3px 5px;
          margin: 10px;
          border: 1px solid #ffffff;
          cursor: pointer;
        }
        .filmTitle {
          font-size: 1.2rem;
        }

        .filmTitle2 {
          font-size: 1rem;
        }
        .overview {
          margin-top: 10px;
          //  width: 200px;
          overflow: scroll;
          p {
            font-size: $font-p;
          }
        }
      }

      .loadingAnimate {
        @include centerPosition;
        background-color: $color-blue;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        animation-name: vanish;
        animation-duration: 1s;
        animation-delay: 0.8s;
      }

      @keyframes vanish {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
