@import "./Default.scss";

@mixin bookmark {
  width: 25px;
  position: absolute;
  z-index: 5;
  right: 5px;
  top: -7px;
  cursor: pointer;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
}

.crewDiv {
  @include blackMask;
  .crewBox {
    position: relative;
    width: 70%;
    height: 70%;
    background-color: white;
    margin: auto;
    flex-direction: column;
    @include centerPosition;
    .closeBtn {
      @include closeBtnStyle;
    }
    .container {
      width: 100%;
      height: 100%;

      color: gray;
      overflow: hidden;
      position: relative;
      .wrap {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        .profile {
          background-color: $color-lightgray;
          padding: 30px;
          width: 30%;
          display: flex;
          flex-direction: column;

          .photo {
            display: flex;
            .likeBtn {
              position: absolute;
              bottom: 10px;
              right: 6px;
              cursor: pointer;
            }
          }

          @mixin bookmark {
            z-index: 2;
            width: 30px;
            height: 30px;
            filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
          }
          .addBtn {
            @include bookmark;
            fill: $color-gold;
            stroke: rgba(255, 255, 255, 0.75);
          }
          .cancelBtn {
            @include bookmark;
            fill: rgba(0, 0, 0, 0.3);
            stroke: rgba(255, 255, 255, 0.3);
            transition: 0.3s ease;
          }

          .photo > div:nth-child(1) {
            position: relative;
          }
          .photo > div:hover {
            .cancelBtn {
              fill: rgba(255, 255, 255, 0.3);
            }
          }
          .name {
            font-size: 20px;
            font-weight: 600;
            color: $color-blue;
          }
          a {
            text-decoration: none;
            color: $color-gray;
            text-align: center;
            padding: 3px 5px;
            margin: 5px;
            border: 1px solid $color-gray;
            cursor: pointer;
          }

          .biography {
            margin-top: 10px;
            width: 100%;
            overflow: scroll;
            p {
              font-size: $font-p;
            }
          }
        }
        .movieBox {
          margin: 30px;
          width: 100%;
          display: flex;
          flex-flow: row wrap;
          overflow: scroll;
          text-align: center;

          .outter {
            .title {
              text-align: start;
            }
            .inner {
              display: flex;
              flex-flow: row wrap;
              .movieCard {
                margin: 20px 10px;
                width: 120px;
                position: relative;

                font-size: 0.8rem;

                .addBtn {
                  @include bookmark;
                  fill: $color-gold;
                }
                .cancelBtn {
                  @include bookmark;
                  fill: rgba(0, 0, 0, 0.3);
                  stroke: white;
                  opacity: 0;
                  transition: 0.3s ease;
                }

                .poster {
                  cursor: pointer;
                  width: 120px;
                  height: 180px;
                  overflow: hidden;
                  @include shadow;
                  img {
                    width: 100%;
                    transition: all 0.7s ease;
                  }
                  img:hover {
                    transform: scale(1.08);
                    transition: all 0.7s ease;
                  }
                  .noPic {
                    width: 100%;
                    height: 100%;
                    background-color: rgb(226, 226, 226);
                    @include centerPosition;
                    svg {
                      width: 80px;
                      height: 80px;
                      fill: rgb(202, 202, 202);
                    }
                  }
                }

                .basicInfo {
                  margin: 10px 0;
                }

                .basicInfo > div:nth-child(1) {
                  color: $color-lightgray;
                }
              }

              .movieCard:hover {
                .cancelBtn {
                  @include bookmark;
                  fill: rgba(0, 0, 0, 0.3);
                  stroke: white;
                  opacity: 1;
                  transition: 0.3s ease;
                }
              }
            }
          }
        }
      }

      .infoBox {
        top: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 10;
        height: 100%;
        width: 30%;
        padding: 30px;
        background-color: $color-blue;
        color: white;
        // transition: right 1s;

        .arrow {
          cursor: pointer;
          margin-bottom: 10px;
          svg {
            width: 20px;
            height: 20px;
            fill: white;
          }
        }
        a {
          text-decoration: none;
          color: #ffffff;
          text-align: center;
          padding: 3px 5px;
          margin: 10px;
          border: 1px solid #ffffff;
          cursor: pointer;
        }
        .filmTitle {
          font-size: 1.2rem;
        }

        .filmTitle2 {
          font-size: 1rem;
        }
        .overview {
          margin-top: 10px;
          overflow: scroll;
          p {
            font-size: $font-p;
          }
        }
      }
      //  .move {
      //     transform: translateX(250%);
      //  }
      //  .back {
      //     transform: translateX(350%);
      //  }

      .loadingAnimate {
        @include centerPosition;
        background-color: $color-blue;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        animation-name: vanish;
        animation-duration: 1s;
        animation-delay: 0.8s;
      }

      @keyframes vanish {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
  }
}
