@import "./Default.scss";

.movieInfo {
  position: fixed;
  z-index: 5;
  top: 120px;
  bottom: 20px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  overflow: hidden;
  background-color: white;
  transition: right 0.5s ease;
  .handleBar:hover {
    transition: 1s ease;
    background: rgb(165, 165, 165);
    .arrow {
      transition: 0.5s ease;
      margin-top: 0;
    }
  }
  .handleBar {
    cursor: pointer;
    writing-mode: vertical-rl;
    width: 30px;
    line-height: 1rem;
    height: 100%;
    padding: 10px 5px 0 5px;
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    background-color: $color-lightgray;
    transition: 1s ease;
    .arrow {
      margin-top: -30px;
      width: 20px;
      height: 20px;
      fill: white;
      transition: 0.5s ease;
    }
    p {
      margin: 20px 0 10px 0;
      letter-spacing: 0.3rem;
      color: white;
    }
  }

  .outterBox {
    overflow: scroll;
    position: relative;
    // flex-direction: row-reverse;
    width: 430px;
    // height: 100%;
    .loadingAnimate {
      @include centerPosition;
      background-color: $color-blue;
      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .innerBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      .imageBox {
        display: flex;
        width: 100%;
        //  overflow: scroll;
        // min-height: 250px;
        height: 250px;
        // border: 1px solid $color-gray;
        // margin: 20px 0;
        overflow: auto;
        background-color: rgb(236, 236, 236);

        img {
          width: 100%;
          max-height: 250px;
          //  margin-right: 10px;
        }

        .notFound {
          color: $color-gray;
          width: 100%;
          margin: auto 0;
          //  height: 100%;
          @include centerPosition;
        }
      }

      .infoBox {
        // border: 1px solid red;
        padding: 20px;

        .upper {
          // border: 1px solid green;
          margin-bottom: 20px;
          // display: flex;
          // justify-content: space-between;
          .subtitle {
            color: $color-gray;
            font-size: 0.9rem;
            // margin: 20px 0;
          }

          .row {
            // @include centerPosition;
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            .title {
              border-left: 8px solid $color-blue;
              padding-left: 16px;
              // margin: 10px 0;
              color: $color-blue;
              font-size: 2rem;
              font-weight: 600;
              :nth-child(2) {
                font-size: 1.5rem;
              }
            }

            .addBtn {
              cursor: pointer;
              min-width: 30px;
              transition: 0.3s ease;
              fill: $color-gold;
            }
            .cancelBtn {
              min-width: 30px;
              transition: 0.3s ease;
              fill: $color-lightgray;
              //  border: 1px solid blue;
            }
          }
        }

        .clock {
          // border: 1px solid red;
          @include centerPosition;
          color: $color-gray;
          svg {
            width: 20px;
            height: 20px;
            fill: $color-gray;
            margin-right: 5px;
          }
        }

        .rating {
          @include centerPosition;

          // .star {
          //    width: 25px;
          //    height: 25px;
          //    fill: $color-gold;
          // }
          .imbdBtn {
            display: flex;
            svg {
              width: 40px;
              height: 20px;
            }
          }
          span {
            font-size: 1rem;
            color: $color-gold;
            margin: 0 10px;
            font-weight: 500;
          }
          img {
            height: 15px;
            width: 15px;
          }
        }

        .linkBox {
          // display: flex;
          color: $color-gray;
          font-size: 14px;
          .box1 {
            display: flex;
            margin: 10px 0;
          }
          a {
            text-decoration: none;
            color: $color-gray;
          }
          .videoBtn {
            display: flex;
            text-align: center;
            padding: 3px 5px;
            margin: 5px;
            // border: 1px solid $color-gray;
            cursor: pointer;
            @include centerPosition;
            svg {
              width: 20px;
              height: 20px;
              fill: $color-gray;
              margin-right: 5px;
            }
          }

          .noVideo {
            opacity: 0.3;
          }
          .videoDiv {
            @include blackMask;

            div {
              position: relative;

              .closeBtn {
                @include closeBtnStyle;
              }
            }
          }
        }

        .flag {
          margin: 10px;
          display: flex;

          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }

          .tooltip {
            position: relative;
            display: block;
            // width: 50px;
            height: 33px;
            // overflow: hidden;
            margin-right: 10px;

            .tooltiptext {
              visibility: hidden;
              position: absolute;
              font-size: 10px;
              white-space: nowrap;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px;
              //  border-radius: 6px;
              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s;
              top: 125%;
              left: 50%;
              margin-left: -50%;
            }
            img {
              // width: 100%;
              // max-width: 50px;
              max-height: 33px;
              @include shadow;
            }
          }
        }

        .mediaSource {
          display: flex;
          margin: 10px 0;

          .atmovieLink {
            opacity: 0.5;
            // margin: 5px;
            width: 70px !important;
            height: 30px;
            display: flex;
            text-align: center;
            padding: 3px 6px;
            border: 1px solid $color-gray;
            cursor: pointer;
          }
          .atmovieLink:hover {
            opacity: 1;
          }
          a {
            margin: 5px;
            width: 30px;
            height: 30px;
            display: flex;

            img {
              filter: grayscale(100%);
              height: 100%;
              opacity: 0.3;
              transition: all 0.3s ease;
            }
            img:hover {
              filter: grayscale(0%);
              height: 100%;
              opacity: 1;
              transition: all 0.3s ease;
            }
          }

          svg {
            width: 30px;
            height: 30px;
            transition: all 0.3s ease;
            fill: $color-lightgray;
          }
          svg:hover {
            transition: all 0.3s ease;
            fill: $color-blue;
          }
        }

        .overview {
          margin: 50px 0 30px 0;
          font-size: $font-p;
          color: $color-gray;
          span {
            padding: 5px 0;
          }
          div {
            margin-top: 5px;
            border-top: 1px solid $color-gray;
            padding: 10px 0;
          }
        }
      }
    }
  }

  .crew {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    background-color: $color-blue;
    padding: 20px;
    color: white;

    .outter {
      display: flex;
      overflow: scroll;
      .title {
        font-size: 18px;
        font-weight: 500;
        //  margin: 10px 0;
      }
      .castBox {
        margin-top: 10px;
        display: flex;

        .castPic {
          margin: 5px;
          width: 120px;
          overflow: hidden;
          height: 180px;
          position: relative;

          img {
            filter: grayscale(100%);
            width: 100%;
            transition: 0.3s ease;
          }

          img:hover {
            transform: scale(1.1);
            filter: grayscale(0%);
            cursor: pointer;
            transition: 0.3s ease;
          }
        }
        .noPic {
          @include centerPosition;
          color: rgb(51, 51, 51);
          background: rgb(93, 93, 93);
          height: 100%;
          // width: 120px;
        }

        .personName {
          height: 50px;
          width: 100%;
          position: absolute;
          bottom: 0;
          //  padding: 5px;
          text-align: center;
          vertical-align: bottom;
          font-size: 14px;
          display: flex;
          align-items: flex-end;
          background: linear-gradient(#00000000, #000000);
          p {
            width: 100%;
            margin: 5px;
          }
        }
      }
    }
  }
}
