@import "./Default.scss";

.movieInfo {
  width: 30%;
  @media screen and (max-width: 1024px) {
    width: 40%;
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: scroll;
  }
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  overflow: hidden;
  background-color: white;
  z-index: 5;

  .closeBtn {
    @include closeBtnStyle;
    z-index: 10;
    top: 15px;
    right: 15px;
  }
  .outterBox {
    overflow: scroll;
    position: relative;
    width: 100%;

    .loadingAnimate {
      @include centerPosition;

      z-index: 10;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .loadingBackground {
      z-index: 8;
      background-color: $color-blue;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .innerBox {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .imageBox {
        width: 100%;
        overflow: auto;
        background-color: rgb(236, 236, 236);

        .imageWrap {
          display: flex;
          img {
            width: 100%;
          }
        }

        .notFound {
          color: $color-gray;
          width: 100%;
          margin: auto 0;

          @include centerPosition;
        }
      }

      .infoBox {
        padding: $padding-l;

        .upper {
          margin-bottom: 20px;
          .subtitle {
            color: $color-gray;
            font-size: 0.9rem;
          }

          .row {
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            .title {
              border-left: 8px solid $color-blue;
              padding-left: 16px;

              color: $color-blue;
              font-size: 2rem;
              font-weight: 600;
              :nth-child(2) {
                font-size: 1.5rem;
              }
            }

            .addBtn {
              cursor: pointer;
              min-width: 30px;
              transition: 0.3s ease;
              fill: $color-gold;
            }
            .cancelBtn {
              min-width: 30px;
              transition: 0.3s ease;
              fill: $color-lightgray;
            }
          }
        }

        .clock {
          @include centerPosition;
          color: $color-gray;
          svg {
            width: 20px;
            height: 20px;
            fill: $color-gray;
            margin-right: 5px;
          }
        }

        .rating {
          @include centerPosition;

          .imbdBtn {
            display: flex;
            svg {
              width: 40px;
              height: 20px;
            }
          }
          span {
            font-size: 1rem;
            color: $color-gold;
            margin: 0 10px;
            font-weight: 500;
          }
          img {
            height: 15px;
            width: 15px;
          }
        }

        .linkBox {
          color: $color-gray;
          font-size: 14px;
          .box1 {
            display: flex;
          }
          a {
            text-decoration: none;
            color: $color-gray;
          }
          .videoBtn {
            display: flex;
            text-align: center;
            padding: 3px 5px;
            margin: 5px;

            cursor: pointer;
            @include centerPosition;
            svg {
              width: 20px;
              height: 20px;
              fill: $color-gray;
              margin-right: 5px;
            }
          }

          .noVideo {
            opacity: 0.3;
          }
          .videoDiv {
            @include blackMask;

            div {
              position: relative;

              .closeBtn {
                @include closeBtnStyle;
              }
            }
          }
        }

        .flag {
          display: flex;
          flex-wrap: wrap;
          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }

          .tooltip {
            position: relative;
            margin-right: 10px;

            .tooltiptext {
              visibility: hidden;
              position: absolute;
              font-size: 10px;
              white-space: nowrap;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px;
              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s;
              top: 110%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          img {
            max-width: 50px;
            filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.2));
          }
        }

        .mediaSource {
          display: flex;
          margin: 10px 0;

          .atmovieLink {
            opacity: 0.5;

            width: 70px !important;
            height: 30px;
            display: flex;
            text-align: center;
            padding: 3px 6px;
            border: 1px solid $color-gray;
            cursor: pointer;
          }
          .atmovieLink:hover {
            opacity: 1;
          }
          a {
            margin: 5px;
            width: 30px;
            height: 30px;
            display: flex;

            img {
              filter: grayscale(100%);
              height: 100%;
              opacity: 0.3;
              transition: all 0.3s ease;
            }
            img:hover {
              filter: grayscale(0%);
              height: 100%;
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }

          .tooltip {
            position: relative;

            .tooltiptext {
              visibility: hidden;
              position: absolute;
              font-size: 10px;
              white-space: nowrap;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px;

              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s;
              top: 140%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
          svg {
            width: 30px;
            height: 30px;
            transition: all 0.3s ease;
            fill: $color-lightgray;
          }
          svg:hover {
            transition: all 0.3s ease;
            fill: $color-blue;
          }
        }

        .overview {
          margin: 20px 0 30px 0;
          font-size: $font-p;
          color: $color-gray;
          span {
            padding: 5px 0;
          }
          div {
            padding: 10px 0;
          }
        }
        .overview > div:nth-child(1) {
          width: 100%;
          border-bottom: 1px solid $color-gray;
          padding: 5px 0;
        }
      }
    }
  }

  .crew {
    width: 100%;
    background-color: $color-blue;
    padding: $padding-l;
    color: white;

    .outter {
      display: flex;
      overflow: scroll;
      .title {
        font-size: 18px;
        font-weight: 500;
      }
      .castBox {
        margin-top: 10px;
        display: flex;

        .castPic {
          margin: 5px;
          width: 120px;
          overflow: hidden;
          height: 180px;
          position: relative;

          img {
            width: 100%;
            transition: 0.3s ease;
          }

          img:hover {
            transform: scale(1.1);

            cursor: pointer;
            transition: 0.3s ease;
          }
        }
        .noPic {
          @include centerPosition;
          color: rgb(51, 51, 51);
          background: rgb(93, 93, 93);
          height: 100%;
        }

        .personName {
          height: 50px;
          width: 100%;
          position: absolute;
          bottom: 0;

          text-align: center;
          vertical-align: bottom;
          font-size: 14px;
          display: flex;
          align-items: flex-end;
          background: linear-gradient(#00000000, #000000);
          p {
            width: 100%;
            margin: 5px;
          }
        }
      }
    }
  }
}
