@import "./Default.scss";

.movieListBox {
  display: flex;
  width: calc(100% - 350px);
  overflow: scroll;

  .movieList {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // border: 1px solid red;

    h3 {
      border: 1px solid blue;
    }
    // overflow: scroll;
  }
}
