@import "./Default.scss";

.movieCard {
  position: relative;

  cursor: pointer;
  width: 180px;
  margin: 15px 20px;
  // padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .posterBox {
    width: 180px;
    height: 270px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    .notFound {
      //  border: 1px solid red;
      background-color: $color-gray;
      opacity: 0.3;
      width: 100%;
      height: 100%;
      display: flex;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .basicInfo {
    padding: 10px;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    // div {
    //    margin-bottom: 5px;
    // }

    .th {
      position: absolute;
      top: 5px;
      left: 8px;
      font-weight: 500;
      color: white;
    }
    .titleEn {
      margin-bottom: 5px;
      font-size: 16px;
      line-height: 20px;
    }

    .titleZh {
      font-size: 14px;
      color: $color-gray;
    }
  }

  .keepTag {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 0;
    border-color: transparent #00000050 transparent transparent;
    // width: 30px;
    // height: 25px;
    top: -5px;
    right: -5px;
    // border-radius: 50%;
    // background-color: rgba(0, 0, 0, 0.3);
    // opacity: 0.3;
  }

  .keepTag:hover {
    border-color: transparent #d6c80150 transparent transparent;
  }

  .noData {
    width: 180px;
    margin: 10px 20px;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .posterBox {
      width: 160px;
      height: 240px;
      overflow: hidden;
      background-color: rgb(219, 219, 219);
      box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    }
  }
}
