@import "./Default.scss";

@mixin btnStyle {
  user-select: none;
  background-color: rgba(95, 95, 95, 0.3);
  color: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
}

.movieFilter {
  width: 70%;
  @media screen and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  display: flex;

  .titleBox {
    display: flex;
    @include middleWrap;
  }
  .fesTitle {
    @include navBtn;
    @include cardMargin;

    .inner {
      @include centerPosition;
      .icon {
        position: absolute;
        width: 30px;
        height: 30px;
        img {
          max-height: 30px;
        }
      }

      .title {
        position: relative;
        color: $color-blue;
        font-weight: 500;
        font-size: 16px;
      }

      span {
        color: $color-gray;
      }
    }
    .closeBtn {
      @include btnStyle;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      top: -3px;
      right: -40px;
    }

    .option {
      @include showUp;
      width: 200px;
      position: absolute;
      top: 100px;
      z-index: 5;
      padding: 30px 0;

      .wrap {
        max-height: 40px;
        overflow: hidden;
      }
      .wrapOpen {
        max-height: 300px;
        transition: all 0.5s ease-out;
      }

      .subBtn {
        @include centerPosition;
        flex-direction: column;
        padding: 10px 0;

        button {
          height: 20px;

          color: $color-gray;
          font-weight: 300;
        }
      }

      button {
        width: 100%;
        border: 0;
        background: none;
        color: $color-blue;
        font-size: 16px;
        line-height: 1.2;
        text-decoration: none;
        margin: 8px 0;
        cursor: pointer;
      }
      button:focus {
        outline: none;
      }
    }
  }

  .fesTitle:hover .closeBtn {
    opacity: 1;
    transition: opacity 0.3s;
  }
}
