@import "./Default.scss";

.movieInfo {
  position: fixed;
  z-index: 5;
  top: 120px;
  bottom: 20px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  //  overflow: scroll;
  background-color: white;
  transition: right 0.5s ease;
  .handleBar {
    cursor: pointer;
    writing-mode: vertical-rl;
    width: 30px;
    line-height: 1rem;
    height: 100%;
    padding: 10px 5px 0 5px;
    display: flex;
    background-color: $color-lightgray;
    .arrow {
      width: 20px;
      height: 20px;
      fill: white;
      // margin-bottom: 20px;
    }
    p {
      margin: 20px 0 10px 0;
      font-size: 0.5rem;
      font-weight: 500;
      letter-spacing: 0.3rem;
      color: white;
    }
  }
  .outterBox {
    overflow: scroll;
    // flex-direction: row-reverse;
    width: 430px;
    // height: 100%;

    .innerBox {
      width: 100%;
      .imageBox {
        display: flex;
        width: 100%;
        //  overflow: scroll;
        // min-height: 250px;
        height: 250px;
        // border: 1px solid $color-gray;
        // margin: 20px 0;
        overflow: auto;
        background-color: rgb(236, 236, 236);

        img {
          width: 100%;
          max-height: 250px;
          //  margin-right: 10px;
        }

        .notFound {
          color: $color-gray;
          width: 100%;
          margin: auto 0;
          //  height: 100%;
          @include centerPosition;
        }
      }

      .infoBox {
        padding: 20px;

        .upper {
          display: flex;
          justify-content: space-between;
          .subtitle {
            color: $color-gray;
          }
          .rating {
            display: flex;

            .star {
              width: 25px;
              height: 25px;
              fill: $color-gold;
            }
            span {
              color: $color-gold;
              margin-right: 10px;
              font-weight: 500;
            }
            img {
              height: 15px;
              width: 15px;
            }
            .clock {
              width: 25px;
              height: 25px;
              fill: $color-gray;
            }
          }
          .keep {
            height: 30px;
            // line-height: 30px;
            padding: 5px;
            background-color: rgb(221, 221, 221);
          }
        }

        .title {
          border-left: 8px solid $color-blue;
          padding-left: 16px;
          margin: 10px 0;
          color: $color-blue;
          font-size: 26px;
          font-weight: 600;
          :nth-child(2) {
            font-size: 20px;
          }
        }

        .addBtn {
          width: 30px;
          transition: 0.3s ease;
          fill: $color-blue;
        }
        .cancelBtn {
          width: 30px;
          transition: 0.3s ease;
          fill: $color-lightgray;
          //  border: 1px solid blue;
        }

        .linkBox {
          display: flex;
          color: $color-gray;
          font-size: 14px;
          a {
            text-decoration: none;
            color: $color-gray;
          }
          .videoBtn {
            // width: 70px;
            text-align: center;
            padding: 3px 5px;
            margin: 5px;
            border: 1px solid $color-gray;
            cursor: pointer;
          }

          .noVideo {
            opacity: 0.3;
          }
          .videoDiv {
            @include blackMask;

            div {
              position: relative;

              .closeBtn {
                @include closeBtnStyle;
              }
            }
          }
        }

        .flag {
          margin: 10px 10px 10px 0;
          display: flex;

          .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
          }

          .tooltip {
            position: relative;
            display: block;
            // width: 50px;
            height: 33px;
            // overflow: hidden;
            margin-right: 10px;

            .tooltiptext {
              visibility: hidden;
              position: absolute;
              font-size: 10px;
              white-space: nowrap;
              background-color: #555;
              color: #fff;
              text-align: center;
              padding: 5px;
              //  border-radius: 6px;
              z-index: 1;
              opacity: 0;
              transition: opacity 0.3s;
              top: 125%;
              left: 50%;
              margin-left: -50%;
            }
            img {
              // width: 100%;
              // max-width: 50px;
              max-height: 33px;
              @include shadow;
            }
          }
        }

        .mediaSource {
          display: flex;
          a {
            display: flex;
          }

          svg {
            width: 30px;
            height: 30px;
            transition: all 0.3s ease;
            fill: $color-lightgray;
          }
          svg:hover {
            transition: all 0.3s ease;
            fill: $color-blue;
          }
        }
        .overview {
          margin: 10px 0;
          font-size: 14px;
          color: $color-gray;
        }
      }
    }
  }

  .crew {
    background-color: $color-blue;
    padding: 20px;
    color: white;

    .outter {
      display: flex;
      overflow: scroll;
      .title {
        font-size: 18px;
        font-weight: 500;
        //  margin: 10px 0;
      }
      .castBox {
        margin-top: 10px;
        display: flex;

        .castPic {
          margin: 5px;
          width: 120px;
          img {
            width: 100%;
          }
        }
        // .noPic {
        //    width: 120px;
        // }

        p {
          margin: 5px;
          text-align: center;
          font-size: 14px;
        }
      }
    }
  }
}
