@import "./Default.scss";

.prizeInfo {
  position: fixed;
  z-index: 5;
  bottom: 0;
  height: calc(100% - 100px);
  width: 64.4%;
  box-shadow: rgba(148, 110, 110, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  overflow: hidden;
  background-color: white;
  transition: 0.7s ease;
  .handleBar:hover {
    transition: 0.7s ease;
    background: rgb(105, 105, 105);
  }
  .handleBar {
    display: flex;
    align-items: center;
    cursor: pointer;
    writing-mode: vertical-rl;
    min-width: 40px;
    line-height: 1rem;
    height: 100%;
    padding: 10px 5px 0 5px;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.3rem;
    color: white;
    background-color: $color-gray;
    // background: linear-gradient(180deg, $color-blue, rgba(255, 0, 0, 0) 70.71%);
    transition: 1s ease;

    .arrow {
      // margin-top: -30px;
      width: 20px;
      height: 20px;
      fill: white;
      transition: 0.5s ease;
    }
    span {
      margin: 20px 0 10px 0;
      line-height: 1rem;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.3rem;
    }
  }
  // .handleBar:hover {
  //   .arrow {
  //     transition: 0.5s ease;
  //     margin-top: 0;
  //   }
  // }
  .outterBox {
    overflow: scroll;

    width: 100%;

    .innerBox {
      display: flex;

      width: 100%;
      height: 100%;
      .prizeData {
        width: calc(100% / 3);
        position: relative;
        transition: all 0.5s ease;
        overflow: scroll;
        @include shadow;

        .prizeBlock {
          @include centerPosition;
          position: absolute;
          transition: all 0.3s ease;
          width: 100%;
          height: 30px;
          background-color: $color-blue;
          color: white;
          // border-top: 1px solid white;
          div {
            font-size: 0.7rem;
            font-weight: 300;
            letter-spacing: 0.2rem;
            margin: 0 10px;
          }
        }
        .inner {
          height: 100%;
          padding: 30px;
          display: flex;
          flex-direction: column;

          .upper {
            // border: 1px solid red;
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: 1px solid $color-gold;

            .title {
              // display: flex;
              margin-left: 10px;
              font-size: 1.2rem;
              font-weight: 600;
              color: $color-blue;
            }
            .title > div:nth-child(2) {
              //  color: red;
              font-size: 1rem;
            }

            @media (max-width: 1000px) {
              .title > div:nth-child(2) {
                display: none;
              }
            }

            .logo {
              height: 70px;
              width: 70px;
              overflow: hidden;
              svg {
                margin: 0 auto;
                height: 100%;
                fill: $color-gold;
              }
            }
          }

          .lower {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .winner {
              //  border: 1px solid red;
              display: flex;
              margin-bottom: 20px;
              padding-left: 10px;
              border-left: 5px solid rgb(204, 195, 145);
              //  animation: fadeIn 0.5s ease;
              .prizeName {
                font-size: 1rem;
                color: $color-gold;
                display: flex;

                div {
                  margin-right: 6px;
                }
              }

              .filmName {
                span {
                  margin-right: 6px;
                  font-size: 1rem;
                  color: $color-gray;
                  transition: 0.3s ease;
                  font-weight: 300;
                }
              }
              .filmName:hover {
                cursor: pointer;
                color: rgb(85, 85, 85);
                transition: 0.3s ease;
              }
            }

            // @keyframes fadeIn {
            //    0% {
            //       opacity: 0;
            //    }
            //    100% {
            //       opacity: 1;
            //    }
            // }
          }
          .description {
            // margin-top: 50px;
            height: 40%;
            overflow: hidden;
            font-size: $font-p;
            color: $color-gray;
          }

          .description > div:nth-child(1) {
            width: 100%;
            border-bottom: 1px solid $color-gray;
            padding: 5px 0;
          }

          .description > div:nth-child(2) {
            padding: 10px 0;
            // border: 1px solid red;
            // width: 100%;
            overflow: scroll;
          }
        }
        .upper2 {
          text-align: center;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .title {
            width: 80%;
            font-size: 1rem;
            color: $color-blue;
            padding: 10px 0;
            border-bottom: 1px solid $color-gold;
          }
          .prizeName {
            cursor: pointer;
            margin: 10px 0;
            font-size: 1rem;
            font-weight: 300;
            color: $color-gray;
          }
          .prizeName:hover {
            color: $color-gold;
            transition: 0.3s ease;
          }
        }
      }
    }
  }
}
