@import "./Default.scss";

.prizeInfo {
  position: fixed;
  //    right: 20px;
  z-index: 5;
  top: 120px;
  bottom: 20px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  display: flex;
  //  overflow: scroll;
  background-color: white;
  transition: right 0.5s ease;
  .handleBar {
    cursor: pointer;
    writing-mode: vertical-rl;
    width: 30px;
    line-height: 1rem;
    height: 100%;
    padding: 10px 5px 0 5px;
    font-size: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.3rem;
    color: white;
    background-color: $color-gray;
    .arrow {
      width: 20px;
      height: 20px;
      fill: white;
      // margin-bottom: 20px;
    }
    span {
      margin: 20px 0 10px 0;
      line-height: 1rem;
      font-size: 1rem;
      // font-weight: 500;
      letter-spacing: 0.3rem;
    }
  }
  .outterBox {
    overflow: scroll;

    width: 430px;

    .innerBox {
      width: 100%;
      height: 100%;
      .prizeData {
        position: relative;
        transition: all 0.5s ease;
        overflow: scroll;
        @include shadow;
        // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

        .prizeBlock {
          @include centerPosition;
          position: absolute;
          transition: all 0.3s ease;
          width: 100%;
          height: 30px;
          background-color: $color-blue;
          color: white;
          border-top: 1px solid white;
          div {
            font-size: 0.7rem;
            font-weight: 300;
            letter-spacing: 0.2rem;
            margin: 0 10px;
          }
        }
        .inner {
          padding: 10px 20px;
          .title {
            display: flex;
          }
          .logo {
            width: 200px;
            max-height: 60px;
            overflow: hidden;
            img {
              width: 100%;
            }
          }

          .winner {
            margin: 10px 0;
            .prizeName {
              display: flex;
              font-size: 1rem;
              .th {
                font-size: 1rem;
                // position: absolute;
              }

              div {
                margin-right: 10px;
              }
            }

            .filmName {
              display: flex;
              font-size: 1rem;
            }
          }
        }

        // .winner {
        //    border: 1px solid green;
        // }
      }
    }
  }
}
