@import "./Default.scss";

.yearListBox {
  display: flex;
  height: 100%;
  width: 70%;
  overflow: scroll;
  @media screen and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  .yearList {
    height: 100%;
    padding-top: 20px;
    @include middleWrap;

    .yearBox {
      display: flex;
      flex-direction: column;
      .yearTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin: 15px 0;

        span {
          margin: 0 30px;
          letter-spacing: 0.2rem;
          color: $color-lightgray;
        }
        .line {
          width: 50%;
          height: 1px;
          background-color: $color-lightgray;
        }
      }

      //  border: 1px solid green;
      .cardWrap {
        display: flex;
        .movieCard {
          @media (min-width: 1500px) {
            margin: 20px 40px;
          }
        }
      }
    }
  }
}
